HARVEST_ACCOUNT_ID='####'
HARVEST_ACCESS_TOKEN='https://help.getharvest.com/api-v2/authentication-api/authentication/authentication/'
HARVEST_USER_ID='#####'
ALWAYS_SHOW_SUMMARY_AFTER=false # always show summary after a modifying command is run.
INITIAL_BUDGET_FOR_FLEX=5 # starting hours for `flex` budget, set to 0 to disable
INITIAL_BUDGET_FOR_MEETINGS=8 # starting hours for `meetings` budget, set to 0 to disable
ENABLE_UNBUDGETED=true # slug 'unbudgeted' tracks time entries without an [hbb:] tag
ENABLE_UNKNOWN=true # slug 'unknown' tracks entries w/[hbb:something] where `something` doesn't exist in our db.
